@import "./styles/main.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $app-black;
  color: $app-text-color;

  &__message {
    flex: 1 1 1;
    height: 100vh;
  }
}
