@import "../styles/main.scss";

.animated-post {
  padding: 1rem;
  max-width: 600px;
  border-radius: 10px;

  p {
    padding-top: 0.2rem;
    font-size: 1rem;
    font-weight: 400;
    color: $text-mid-grey;
  }
}

h1,
h2,
h3,
h4,
h5 {
  width: 100vw;
  text-align: center;
}

h1 {
  font-size: 1.4rem;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
}
h4 {
  font-size: 0.9rem;
}
h5 {
  font-size: 0.8rem;
}
