@import "./styles/main.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $app-black;
  color: $app-text-color;
  height: 100vh;

  &div {
    flex: 1 1 auto;
    margin: 10px;
  }
}
